.form-container {
    width: 280px;
    height: 230px;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    place-items: center;
    background-color: #F1F1F1;
    box-sizing: border-box;
}

label {
    color: black;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
    font-size: 14px;
}

.new-todo-input {
    width: 220px;
    height: 100px;
    border-radius: 2px;
    border: 2px solid black;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    resize: none;
}

.new-todo-input:focus {
    outline-color: #6DC5D1;
}

.new-todo-input::placeholder {
    /* padding: 0 20px 0 20px; */
    color: #A5A5A5;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 400;
    position: absolute;
    text-align: center;
}

.TodoForm-buttonContainer {
    width: 220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 12px;
}

.TodoForm-button {
    border: none;
    height: 34px;
    font-size: 14px;
    font-family: 'Montserrat';
    cursor: pointer;
}

.TodoForm-button--add {
    background-color: #28D8E4;
    border-radius: 2px;
}