form {
    width: 90%;
    max-width: 300px;
    padding: 33px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

label {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 26px;
}

textarea {
    background-color: #F9FBFC;
    width: calc(100% - 25px);
    height: 100px;
    border-radius: 2px;
    border: 2px solid black;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    resize: none;
    color: #1E1E1F;
}

textarea:checked ~ 

textarea:focus {
    outline-color: #6DC5D1;
}

textarea::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
}

.TodoForm-buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.TodoForm-button {
    border: none;
    width: 120px;
    height: 48px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #202329;
    cursor: pointer;
    display: inline-block;
}

.TodoForm-button--cancel {
    background-color: transparent;
}

.TodoForm-button--add {
    background-color: #28D8E4;
    border-radius: 2px;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}