.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

.Icon-container-check {
    position: absolute;
    left: 12px;
}

.Icon-container-check:hover .Icon-svg {
    fill: green;
}

.Icon-container-check--active .Icon-svg {
    fill: green;
}

.Icon-container-edit {
    position: absolute;
    right: 50px;
    display: relative;
    top: 16px;
}

.Icon-container-edit:hover .Icon-svg-edit {
    fill: blue;
}

.Icon-container-delete {
    position: absolute;
    right: 12px;
}

.Icon-container-delete:hover .Icon-svg {
    fill: red;
}

.Icon-svg {
    width: 24px;
    height: 24px;
}

.Icon-svg-edit {
    width: 34px;
    height: 34px;
}